<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-title">
       <h1>Edit your Kombucha</h1>
      </div>

      <div class="row justify-content-center">
        <div class="form-questions">
          <%= simple_form_for @kombucha do |f| %>
            <%= f.input :name %>
            <%= f.input :price %>
            <%= f.input :flavour %>
            <%= f.input :quantity %>
            <%= f.input :description %>
            <%= f.input :photo %>
            <%= f.button :submit, class: "btn btn-flat banner-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
