<h1>All Kombucha View</h1>

<div class="booch-box">
  <% @kombuchas.each do |booch| %>
    <div class="booch-card">
      <h3> <%= booch.name %> </h3>
      <p><%= booch.flavour %></p>
      <p>£<%= booch.price %></p>
      <p>Available:<%= booch.quantity %></p>
      <%= cl_image_tag booch.photo, height: 200, width: 300, crop: :fill %>
    </div>
  <% end %>
</div>
