<div class="banner-content">
  <div class="text-center">
  <h1>Cha-Cha Kombuchas </h1>
  <p>Awesome kombuchas made with love</p>
  <%= link_to "Add a kombucha", new_kombucha_path, class: "btn btn-flat banner-button" %>
</div>
</div>


<div class="cards-container">
  <% @kombuchas.each do |booch| %>
    <%= link_to kombucha_path(booch) do %>
      <div class="card">
        <% if booch.quantity == 0 %>
          <%= cl_image_tag booch.photo, height: 266, width: 300, crop: :fill, class: "bw" %>
        <% else %>
          <%= cl_image_tag booch.photo, height: 266, width: 300, crop: :fill %>
        <% end %>
        <div class="card-info">
          <div>
            <h2><%= booch.name %></h2>
            <p><%= booch.flavour %></p>
            <% if booch.quantity == 0 %>
              <p>SOLD OUT</p>
            <% else %>
              <p> <%= booch.description %> </p>
            <% end %>
          </div>
          <h2 class="card-pricing">£<%= booch.price %></h2>
          <% if booch.quantity == 0 %>
          <%= cl_image_tag booch.user.profile_pic, class: "avatar-bw", height: 60, width: 60, crop: :fill %>
          <% else %>
          <%= cl_image_tag booch.user.profile_pic, class: "avatar-bordered user", height: 60, width: 60, crop: :fill %>
        <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<div class="search-form-holder" id="something">
<%= form_tag kombuchas_path, method: :get, class: "search-form" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-input search-field",
      placeholder: "Search"
    %>
    <%= submit_tag "Find a Booch",
    class: "btn btn-flat search-button banner-button"
    %>
<% end %>
</div>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<script>
  var scroll = new SmoothScroll('a[href*="#"]');
</script>
