<div class="banner-content">
  <h1>Cha-Cha Kombuchas </h1>
  <p>Awesome kombuchas made with love</p>
  <%= link_to "Add a kombucha", new_kombucha_path, class: "btn btn-primary btn-lg" %>
</div>



<div class="cards-container">
  <% @kombuchas.each do |booch| %>
    <%= link_to kombucha_path(booch) do %>
      <div class="card">
        <%= cl_image_tag booch.photo, height: 266, width: 300, crop: :fill %>
        <div class="card-info">
          <div>
            <h2><%= booch.name %></h2>
            <p><%= booch.flavour %></p>
          </div>
          <h2><%= booch.price %></h2>
          <%= cl_image_tag booch.photo, height: 60, width: 60, crop: :fill %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
