<div class="show-container">
  <div class="top-show-container">
    <div class="title-box">
      <h2> <%= @kombucha.name %> </h2>
      <p><%= @kombucha.flavour.capitalize %></p>
      <p> <%= @kombucha.description %> </p>
      <p>£<%= @kombucha.price %></p>
    </div>
    <div class="booch-photo">
      <%= cl_image_tag @kombucha.photo, height: 400, width: 600, crop: :fill %>
    </div>
    <div class="show-info">

      <p><%= @kombucha.rating %></p>
      <p>Brewed by <%= @kombucha.user.first_name.capitalize %></p>
      <p><%= cl_image_tag @kombucha.user.profile_pic, class: "avatar-bordered show-avatar", height: 60, width: 60, crop: :fill %></p>
    </div>
  </div>

  <% unless @kombucha.user == current_user %>
    <%= link_to "Buy this Kombucha!", new_kombucha_transaction_path(@kombucha), class: 'button-show' %>
    <%= simple_form_for(@kombucha, :url =>  new_kombucha_transaction_path(kombucha_id: @kombucha.id), :method => :get) do |f| %>
      <%= f.input :quantity %>
    <% end %>
  <% end %>
</div>

<br>
<br>


<% if policy(@kombucha).edit? %>
  <%= link_to "Edit your Kombucha", edit_kombucha_path(@kombucha), class: "btn btn-flat banner-button" %>
  <%= link_to "Delete your Kombucha", kombucha_path(@kombucha), class: "btn btn-flat banner-button", :method => :delete %>


      <%= simple_form_for(@kombucha, :url =>  new_kombucha_transaction_path(kombucha_id: @kombucha.id), :method => :get) do |f| %>
          <%= f.input :quantity %>
                <% end %>

      <% if policy(@kombucha).edit? %>
        <%= link_to "Edit your Kombucha", edit_kombucha_path(@kombucha), class: "btn btn-flat banner-button" %>
        <%= link_to "Delete your Kombucha", kombucha_path(@kombucha), class: "btn btn-flat banner-button", :method => :delete %>

        <% end %>


