<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @kombucha.name %></h1>
      <p><%= @kombucha.price %></p>
      <p><%= @kombucha.rating %></p>
      <p><%= @kombucha.flavour %></p>
      <p><%= @kombucha.photo %></p>
     <!--  <form action="">
      <div class="input-group">
        <input type="submit" value="Buy this Kombucha" class="btn btn-success mt-2" style="width: 100%">
      </form> -->
      <%= link_to "Back to all kombuchas", root_path %>
    </div>
  </div>
</div>


