<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @kombucha.name %></h1>
      <p>Price: <%= @kombucha.price %></p>
      <p>Rating: <%= @kombucha.rating %></p>
      <p>Flavour: <%= @kombucha.flavour %></p>
      <%= cl_image_tag @kombucha.photo, height: 200, width: 300, crop: :fill %>
     <!--  <form action="">
      <div class="input-group">
        <input type="submit" value="Buy this Kombucha" class="btn btn-success mt-2" style="width: 100%">
      </form> -->

      <%= simple_form_for(@kombucha, :url =>  new_kombucha_transaction_path(kombucha_id: @kombucha.id), :method => :get) do |f| %>
          <%= f.input :quantity %>

      <%= link_to "Buy your Cha-Cha Kombucha!", new_kombucha_transaction_path(@kombucha) %>

        <div class="col-xs-12">

        <% if policy(@kombucha).edit? %>
          <%= link_to "Edit your Kombucha!", edit_kombucha_path(@kombucha) %>
          <% end %>
        <% end %>
        </div>

    </div>
  </div>
</div>


