<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @kombucha.name %></h1>
      <p><%= @kombucha.price %></p>
      <p><%= @kombucha.rating %></p>
      <p><%= @kombucha.flavour %></p>
      <p><%= @kombucha.photo %></p>
     <!--  <form action="">
      <div class="input-group">
        <input type="submit" value="Buy this Kombucha" class="btn btn-success mt-2" style="width: 100%">
      </form> -->

      <%= simple_form_for(@kombucha, :url =>  new_kombucha_transaction_path(kombucha_id: @kombucha.id), :method => :get) do |f| %>
          <%= f.input :quantity %>

      <%= link_to "Buy your Cha-Cha Kombucha!", new_kombucha_transaction_path(@kombucha) %>

      <div class="row">
      <div class="row">

      <%= link_to "Edit your Kombucha", edit_kombucha_path(@kombucha) %>
      <% end %>
    </div>
  </div>
</div>


