<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<div class="text-center">
<h1> Welcome <%=@user.first_name%></h1>
</div>

<div class="cards-container">
  <% @kombuchas.each do |booch| %>
    <%= link_to kombucha_path(booch) do %>
      <div class="card">
        <%= cl_image_tag booch.photo, height: 266, width: 300, crop: :fill %>
        <div class="card-info">
          <div>
            <h2><%= booch.name %></h2>
            <p><%= booch.flavour %></p>
            <p> <%= booch.description %> </p>
          </div>
          <h2 class="card-pricing">£<%= booch.price %></h2>
          <%= cl_image_tag booch.user.profile_pic, class: "avatar-bordered user", height: 60, width: 60, crop: :fill %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="text-center">
<h1> <%=@user.first_name%>'s past transactions </h1>
</div>

<div class="cards-container-trans">
  <% @user.transactions.each do |trans| %>
    <div class="card-trans">
      <%= cl_image_tag trans.kombucha.photo, height: 266, width: 300, crop: :fill %>
      <div class="card-info-trans">
        <div>
          <h2> <%=trans.kombucha.name%> was sold to: </h2>
          <p><%= trans.first_name %></p>
          <p><%= trans.last_name %></p>
          <p><%= trans.shipping_address %></p>
        </div>
        <h2 class="card-pricing">£<%= trans.kombucha.price %></h2>
        <%= cl_image_tag trans.user.profile_pic, class: "avatar-bordered user", height: 60, width: 60, crop: :fill %>
      </div>
      <div class="slider-container">
        <div class="slider-div">
          <div class="slider-select" id="slider-<%= trans.id %>">
            <label for="range" :style="{color: getHappinessColor}">{{val}}</label>
            <input v-model="val" id="range" type="range" min=0 max=100>
            <div class="slider outer">
              <label :style="{width: `${val}%`, borderRadius: greaterThanFifty}" for="range" aria-hidden="true" class="slider inner">
                <span :style="{right: getPlacement}">{{getHappiness}}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="slider-form">
          <%= simple_form_for(trans.kombucha) do |f| %>
            <%= f.input :rating, as: :hidden, input_html: { id: "slider-#{trans.id}-form"  } %>
            <%= f.button :submit, 'Rate your purchase!', class: 'btn btn-info sliderbtn' %>
          <% end %>
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>

