  <header>
    <div class="nav-container">

      <div class="nav-left nav-item">
<% if  current_page?('/') || current_page?('/kombuchas') %>
        <div class="search-form-holder-home">
          <%= form_tag kombuchas_path, method: :get, class: "search-form-home" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "search-input-home",
          placeholder: "Find a Booch"
          %>
         <% end %>
        </div>
<% end %>
      </div>

      <div class="nav-img nav-item">
        <img alt="logo" src=<%= asset_path("Cha-Cha-Logo-2") %> >
      </div>

      <div class="nav-right nav-item">
        <div class="nav-login">
          <a class="nav-link" href="/">Home</a>
          <% if !current_user.nil? %>
          <%= link_to "Logout", destroy_user_session_path, class: 'nav-link', method: :delete %>
          <% else %>
          <%= link_to "Login", new_user_session_path, class: 'nav-link' %>
          <!-- <a class="nav-link" href="#">Login</a> -->
          <% end %>
        </div>
      </div>
    </div>
  </header>
